<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="https://www.jejjcop.se/wp-content/uploads/2018/10/jejjcop_web_solutions_logo.svg" alt="" width="300" />
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Covid Test", "TempChecker", "Temp")</li>
                    <li>@Html.ActionLink("Guessing Game", "GuessGame", "Guess")</li>

                </ul>
            </nav>
        </div>
        <hr />  
    </header>

    <div id="body">

        <section class="content-wrapper main-content clear-fix">

            @RenderBody()

        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <p> &copy; @DateTime.Now.ToShortDateString() Sinead Jacobsson </p>
        </div>
    </footer>

    

</body>

</html>
